<div class='col-sm-6 col-lg-4'>
  <div class="card">
		<% @posts.each do |post| %>
		<%= link_to post do %>
      <div class="card-topper" style='background-image: url(<%= post.banner_image_url %>);'></div>
    <% end %>
  		  <%= link_to post.title, post %>
		<% end %>
  </div>
</div>


    
    
